*{
  margin: 0;
  padding: 0;
}

body{
  transition: all 0.4s
}
body.darkmode{
  background-color: #2a2432;;
  color: white;
}

.switch{
  /*  */
  background: #343D5B;
  top: 5px;
  text-align: center;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch.active{
  background: orange;
  color: black;
}
.switch::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch.active::after{
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
}
pre {
  padding-top: 30px;
  text-align: center;
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
h2 {
  text-align: center;
  padding-top: 10px;
  font-family: Ubuntu mono;
  font-size: 40px;
}



header {
  position: sticky;
  top: 0;
  height: 60px;
  background: #5f5fd3;
  display: flex;
  padding: 0 20px;
}

.menu-toggle {
  display: none;
  margin-left: auto;
  color: white;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
}

.logo a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: Silkscreen;
}

.logo a:hover{
  text-decoration: underline;
}

#menu {
  margin-left: auto;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: white;
  line-height: 60px;
  padding: 0 8px;
  text-transform: uppercase;
  transition: .2s;
}

#menu ul li a:hover {
  height: auto;
  background-color: #7878ec;
  border-radius: 20px;
}

.show {
  height: 305px !important;
}
#menu ul{
    text-align: center;
    align-items: center;
  }
@media screen and (max-width:700px){
  .menu-toggle{
    display: block;
  }
  .switch{
    left: 15px;
  }
  #menu{
    background-color: #7272e0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s ease-out;
  }
  #menu ul li{
    display: block;
  }
  #menu ul li a{
    color: white;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #7272e0;
    line-height: 30px;
  }
  #menu ul li a:hover{
    border-radius: 20px;
    background: #33339c;
  }


}
